*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	display: grid;
	place-items: center;
	align-content: center;
	background-color: #191A21;
	font-family: sans-serif;
}

.container {
	width: 500px;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 20px;
	border-radius: 8px;
	backdrop-filter: blur(10px);
	background: linear-gradient(to right, rgba(3, 35, 79), rgba(3, 35, 79, 0.5), rgba(35, 38, 49, 0.65), rgba(35, 38, 49, 0.55));
	margin-bottom: 2rem;
}

.left {
	display: grid;
	place-items: center;
	align-content: center;
	padding: 12px;
	border-radius: 6px;
	background-color: rgba(7, 65, 135, 0.6);
}

.left>.fa-solid {
	color: dodgerblue;
	font-size: 1.25rem;
}

.center {
	margin-left: 1rem;
	line-height: 0.5;
}

.center>p {
	color: #fff;
}

.center>p:first-child {
	font-size: 1.3rem;
	font-weight: 600;
}

.right {
	margin-left: auto;
}

.right>.fa-solid {
	color: #fff;
	font-size: 1.25rem;
}

.left>.fa-check {
	color: #29BA8B;
}

.right>.fa-xmark:hover {
	cursor: pointer;
}

.right>.fa-xmark:active {
	color: aqua;
}
